/* for some reason, this css on the body tag
eliminates the blank space at the bottom of
the page */
body {
    height: 0px;
}

#name {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
 
.initial_descriptions {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    width: 170px;
}

.about_me {
    position: relative;
    left: 220px;
    width: 1170px;
    bottom: 415px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

#about_me_title {
    position: relative;
    left: 525px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

#about_me_text {
    text-align: justify;
}

table, th, td {
    border: 1px solid;
    margin: auto;
}

.major_information {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    bottom: 413px;
    text-align: center;
}

.academic_education {
    position: relative;
    bottom: 413px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.scientific_projects, .scientific_works, .awards, .scientific_events, .other{
    position: relative;
    bottom: 413px;
    width: 1385px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}