body {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    transform: scale(0.93);
}

#image {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

#name {
    text-align: center;
    font-size: x-large;
}

#lan_change_pt {
    position: relative;
    top: 10px;
    left: 100px;
}

#lan_change_en {
    position: relative;
    top: 10px; 
    left: 103px;
}

.initial_descriptions {
    font-size: medium;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.about_me {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
    font-size: small;
}

#about_me_title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

#about_me_text {
    text-align: justify;
}

table, th, td {
    border: 1px solid #bdbdbd92;
    margin: auto 0 10px auto;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 8px;
}

.th_new, .td_new {
    border: 1px solid black;
    margin: auto 0 10px auto;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    padding: 8px;
    font-weight: bold;
}

#column_slider {
    -webkit-appearance: none;
    appearance: none;
    background: rgb(232, 232, 232);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    width: 90%;
    max-width: 585px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}

#column_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
}

.major_information {
    margin-bottom: 10px;
    text-align: center;
}

.box {
    border: 3px solid rgb(232, 232, 232);
    padding: 9px;
    box-shadow: 0 0 0 300px rgb(232, 232, 232);
}

#dashed_line {
    border: 1px dashed rgb(172, 172, 172);
    position: relative;
    top: 23px;
    width: 100%;
}

.academic_education, .scientific_projects, .scientific_works, .awards, .scientific_events, .other{
    margin: 0 auto;
    width: 90%;
    max-width: 1274px;
    text-align: justify;
    margin-bottom: 10px;
}