body {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

#image {
    margin: auto;
    display: block;
    padding: 10px;
}

#name {
    text-align: center;
    font-size: x-large;
}

#lan_change_pt {
    position: relative;
    top: 10px;
    left: 100px;
}

#lan_change_en {
    position: relative;
    top: 10px;
    left: 103px;
}

.initial_descriptions {
    font-size: medium;
    width: 450px;
    margin: 0 auto;
}

.about_me {
    margin: 0 auto;
    width: 1170px;
    font-size: small;
}

#about_me_title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
}

#about_me_text {
    text-align: justify;
}

table, th, td {
    border: 1px solid #bdbdbd92;
    margin: auto 0;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}

.major_information {
    margin-bottom: 10px;
    text-align: center;
}

.box {
    border: 3px solid rgb(165, 165, 165);
    padding: 10px;
}

.academic_education, .scientific_projects, .scientific_works, .awards, .scientific_events, .other{
    margin: 0 auto;
    width: 1385px;
    text-align: justify;
    margin-bottom: 10px;
}